useDynLib(gpc, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)

S3method(plot, gpc)
S3method(predict,gpc)
S3method(print, gpc)

export(gpc)
export(ivm_subset_selection)
importFrom(grDevices,hcl)
importFrom(graphics,lines)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(stats,density)
importFrom(stats,dgamma)
importFrom(stats,dnorm)
importFrom(stats,median)
importFrom(stats,quantile)
importFrom(stats,rgamma)
importFrom(stats,rnorm)
importFrom(stats,var)
